.inputStyles {
  padding-top: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.buttonStyle {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.textStyles {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.textStyle {
  margin-left: auto;
  margin-right: auto;
}
